body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#search::placeholder {
    color: #000000;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.stats {
    margin-top: 15px;
}

.stats p {
    margin: 5px 0;
}

.card a {
    color: #29a55d;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
    color: #29a55f;
}